<ul class="bg-blue-900 text-black flex px-[35rem] font-extrabold hover:text-white">
    <a href="/" class="m-2"><ul>SignUp</ul></a>
    <a href="/loginn" class="m-2"><ul>Login</ul></a>
    <a href="/auth" class="m-2"><ul>Authpage</ul></a>
    <a href="/logout" class="m-2"><ul>logout</ul></a>

</ul>